<div id="pancel">
    <div class="gridpancel">
        <div class="staticcontainer">
            <app-ent-brief></app-ent-brief>
        </div>
        <div class="staticcontainer">
            <app-ent-register-change></app-ent-register-change>
        </div>
        <div class="staticcontainer">
            <app-industry-rate></app-industry-rate>
        </div>

    </div>
    <div class="center-pancel"></div>
    <div class="gridpancel">
        <div class="staticcontainer">
            <app-ent-register-money></app-ent-register-money>
        </div>
        <div class="staticcontainer">
            <app-ent-nature></app-ent-nature>
        </div>
        <div class="staticcontainer">
            <app-ent-economic-nature></app-ent-economic-nature>
        </div>
    </div>
</div>