.container {
  display: flex;
  flex-direction: column;
  background: rgba($color: #000000, $alpha: 0.5);
  width: 730px;
  padding: 54px 20px 20px 50px;
  .stastic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    app-stastic-card-simpleness {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 170px;
      background: #1a2129;
    }
  }
  .floor-list {
    .floor-des {
      display: flex;
      height: 50px;
      color: #fff;
      font-size: 24px;
      justify-content: space-between;
      display: flex;
      height: 50px;
      align-items: center;

      padding: 0 20px;
      .left {
        flex: 1;
      }
      .right {
        flex: 2;
        display: flex;
        align-items: center;
        div {
          display: flex;
          flex: 1;
          align-items: center;
        }
        .color {
          width: 25px;
          height: 25px;
          display: flex;
          margin-right: 5px;
        }
        .color1 {
          background: #93562d;
        }
        .color2 {
          background: #bdd2ce;
        }
        .color3 {
          background: #94382d;
        }
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      .item-row {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        .floor {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 142px;
          height: 48px;
          background: linear-gradient(
            270deg,
            rgba(14, 65, 74, 0) 0%,
            rgba(6, 55, 57, 0.38) 18%,
            #06868a 100%
          );
          border-radius: 1px;
          opacity: 0.6;
          border: 1px solid;
          border-image: linear-gradient(
              270deg,
              rgba(200, 200, 200, 0),
              rgba(9, 151, 202, 0),
              rgba(52, 192, 207, 0.23),
              rgba(17, 236, 218, 0.42),
              rgba(5, 123, 136, 0.53),
              rgba(151, 151, 151, 0)
            )
            1 1;
        }
        .room {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 106px;
          height: 48px;
          background: rgba(6, 132, 136, 0.3);
          box-shadow: 0px 1px 9px 0px rgba(131, 255, 230, 0.5);
          border-radius: 1px;
          opacity: 0.79;
          border: 1px solid #008398;
        }
      }
    }
  }
  .home-title {
    margin-top: 20px;
  }
  .home-people-list {
    width: 100%;
    height: 100%;
    font-size: 24px;
    .header {
      height: 48px;
      color: #fff;
      width: 100%;
      background: #047d83;
      display: flex;
      div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .list {
      width: 100%;
      display: flex;
      flex-direction: column;
      color: #fff;
      .people-item {
        display: flex;
        height: 48px;
        font-size: 18px;
        line-height: 48px;
        div {
          flex: 1;
        }
      }
    }
  }
}
