<div class="pancel">
    <app-chart-title [chartTitle]="'人口总览'"></app-chart-title>
    <div class="briefTotal">
        <div class="briefTitle">
            <span>常住人口</span>
        </div>
        <div class="populationData">
            176.52
        </div>
    </div>
    <div class="detailData">
        <div class="dataCard">
            <div class="dataCardTitle">
                <span>户籍人口</span>
            </div>
            <div class="dataCardData">
                <div class="leftData"><span>100.31</span>
                    <div class="dataunit">万人</div>
                </div>
                <div class="rightData"><span>同比</span>
                    <div class="updowncondition">3.1%</div>
                </div>
            </div>
        </div>
        <div class="dataCard">
            <div class="dataCardTitle">
                <span>流动人口</span>
            </div>
            <div class="dataCardData">
                <div class="leftData"><span>100.31</span>
                    <div class="dataunit">万人</div>
                </div>
                <div class="rightData"><span>同比</span>
                    <div class="updowncondition">3.1%</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="chartcontainer" ngxG2 (configure)="configureChart($event)"></div> -->
</div>