.pancel {
    width: 100%;
    height: 100%;
    padding: 52px 0px 0px 50px;
    //padding-top: 46px;
    .titlecontianer {
        width: 100%;
    }
    .chartcontainer {
        width: 680px;
        height: 290px;
    }
}