.container {
    width: 100%;
    height: 53px;
    position: relative;
    .lefttitle {
        height: 100%;
        float: left;
        width: fit-content;
        .titlecontianer {
            float: left;
            flex-direction: column;
            width: 100%;
            .textcontainer {
                font-size: 28px;
                font-family: SourceHanSansCN-Bold, SourceHanSansCN;
                font-weight: bold;
                color: #C5CCD3;
            }
            .baselinebar {
                //margin-top: 8px;
                width: 100%;
                height: 4px;
                background: linear-gradient(270deg, rgba(16, 19, 78, 0) 0%, #0DA3EA 100%);
            }
        }
    }
    .rightlighteffect {
        float: left;
        height: 100%;
        width: 53px;
        margin-top: 12px;
    }
    .unittitle {
        margin-right: 20px;
        margin-top: 10px;
        float: right;
        height: 25px;
        font-size: 18px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 25px;
    }
}