<div id="pancel">
    <div class="left-pancel">
        <div class="chart-grid">
            <div class="chartcontainer">
                <app-population-brief></app-population-brief>
            </div>
            <div class="chartcontainer">
                <app-population-sex-ratio></app-population-sex-ratio>
            </div>
            <div class="chartcontainer">
                <app-mobile-people-coming></app-mobile-people-coming>
            </div>

        </div>
    </div>
    <div class="center-pancel">2</div>
    <div class="right-pancel">
        <div class="chart-grid">
            <div class="chartcontainer">
                <app-population-culture-ratio></app-population-culture-ratio>
            </div>
            <div class="chartcontainer">
                <app-minority-nationality></app-minority-nationality>
            </div>
            <div class="chartcontainer">
                <app-population-change></app-population-change>
            </div>
        </div>
    </div>
</div>