.pancel {
    width: fit-content;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 39px;
    display: flex;
    flex-direction: row;
    pointer-events: all;
    .item {
        width: 160px;
        height: 50px;
        font-size: 22px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        margin-left: 10px;
        color: #02A7CF;
        background-image: url("~/assets/img/component-img/population-brief/unselected.png");
        &:hover {
            cursor: pointer;
        }
        .title {
            margin-top: 7px;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .active {
        color: #01FFF4;
        background-image: url("~/assets/img/component-img/population-brief/selected.png");
    }
}