<div id="pancel">
    <div class="gridpancel">
        <div class="staticcontainer">
            <app-people-important-change></app-people-important-change>
        </div>
        <div class="staticcontainer">
            <app-people-important-type></app-people-important-type>
        </div>
        <div class="staticcontainer">
            <app-people-important-count></app-people-important-count>
        </div>

    </div>
    <div class="center-pancel"></div>
    <!-- <div class="gridpancel">
        <div class="staticcontainer">
        </div>
        <div class="staticcontainer">
        </div>
        <div class="staticcontainer">
        </div>
    </div> -->
</div>