<div id="pancel">
    <div class="left-pancel">
        <div class="chart-grid">
            <div class="chartcontainer">
                <!-- <app-population-brief></app-population-brief> -->
            </div>
            <!-- <div class="chartcontainer" ngxG2 (configure)="configureChart($event)"></div> -->
            <div class="chartcontainer"></div>
            <div class="chartcontainer"></div>
        </div>
    </div>
    <div class="center-pancel">2</div>
    <div class="right-pancel">
        <div class="chart-grid">
            <div class="chartcontainer"></div>
            <div class="chartcontainer"></div>
            <div class="chartcontainer"></div>
        </div>
    </div>
</div>