<div id="pancel">
    <div class="gridpancel">
        <div class="staticcontainer">
            <app-incoming-outof-js></app-incoming-outof-js>
        </div>
        <div class="staticcontainer">
            <app-incoming-in-js></app-incoming-in-js>
        </div>
        <div class="staticcontainer">
            <app-people-flow-age></app-people-flow-age>
        </div>

    </div>
    <div class="center-pancel"></div>
    <div class="gridpancel">
        <div class="staticcontainer">
            <app-people-flow-culture></app-people-flow-culture>
        </div>
        <div class="staticcontainer">
            <app-people-flow-street></app-people-flow-street>
        </div>
        <div class="staticcontainer">
            <app-people-flow-community></app-people-flow-community>
        </div>
    </div>
</div>