 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%;
     background-image: url("~/assets/img/component-img/shared/threeline.png");
     background-repeat: no-repeat;
     .top {
         color: #fff;
         font-size: 24px;
         font-weight: 600;
         margin-top: 5px;
     }
     .bottom {
         flex: 1;
         font-family: Bebas Neue Regular;
         .value {
             font-size: 40px;
             font-weight: bold;
             color: #76f1fb;
         }
         .unit {
             font-size: 20px;
             font-weight: 600;
             color: #76f1fb;
             margin-left: 10px;
         }
     }
 }