#menuContanter {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  position: relative;
  justify-content: center;

  // 2110
  #nav-bars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  #navbars {
    display: flex;
    align-items: flex-end;

    color: #02a7cf;
    line-height: 48px;
    font-size: 32px;
    width: 2450px;
    justify-content: space-between;

    .nav-item {
      display: flex;
    }
  }

  .navbaritem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    width: 240px;
    height: 60px;
   
    height: 60px;
    background: #012539;
    border: 1px solid #239ce0;
    position: relative;
  }

  .navbaritem:hover {
    cursor: pointer;
    font-weight: bold;
    .children {
      display: flex;
    }
  }

  .right {
    transform: skewX(-50deg);
    margin-right: 15px;

    .title {
      transform: skewX(50deg);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .left {
    transform: skewX(50deg);
    margin-left: 15px;

    .title {
      transform: skewX(-50deg);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .select {
    font-weight: bold;
    background: rgba(0, 129, 144, 0.78);
    color: #ffffff;
    .title {
      color: #ffffff;
    }
  }

  .childrenSelect {
    font-weight: bold;
    background: #00d2ff;
    color: #000d2e;
  }

  .title {
  }

  .children {
    display: none;
    position: absolute;
    top: 58px;
    flex-direction: column;
    z-index: 2000;
    width: 270px;
    height: 120px;
    background: #14257d;
    border: 1px solid #14257d;
    align-items: center;
    justify-content: center;
    border: 1px solid #689cff;
  }

  .children-l {
    transform: skewX(-50deg);
    right: 69px;
  }

  .children-r {
    transform: skewX(50deg);
    left: 69px;
  }

  .children-item {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .children-item:hover {
    color: #000d2e;
    background: #00d2ff;
    cursor: pointer;
  }
}
