<!-- 导航栏组件 -->

<div id="menuContanter" class="zindex4">
  <div id='bg-img'>
    <img src='{{data.logo}}' />
  </div>
  <div id="nav-bars">
    <div id="navbars">
      <div class="nav-item">
        <div class='navbaritem left' *ngFor="let item of data.data | filter:'left'" [class.select]='item.active'>
          <div class="title" (click)="menuRouter(item,null);">
            {{item?.name}}
          </div>
          <div class="children-l children" *ngIf="item.children && item.children.length > 0">
            <div class="children-item" [class.childrenSelect]='jtem.active' *ngFor="let jtem of item.children">
              <span (click)="menuRouter(item,jtem);"> {{jtem?.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-item">
        <div class='navbaritem right' *ngFor="let item of data.data | filter:'right'" [class.select]='item.active'
          (click)="menuRouter(item,null);">
          <div class="title">
            {{item?.name}}
          </div>
          <div class="children-r children" *ngIf="item.children && item.children.length > 0">
            <div class="children-item" [class.childrenSelect]='jtem.active' *ngFor="let jtem of item.children">
              <span (click)="menuRouter(item,jtem);"> {{jtem?.name}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
