.container {
  width: 730px;
  height: 100%;
  box-sizing: border-box;
  padding: 54px 20px 20px 50px;
  display: flex;
  flex-direction: column;
  pointer-events: all;
  position: relative;
  .area-select {
    margin-top: 20px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 64px;
    background: rgba(150, 156, 169, 0.1);
    border-radius: 4px;
    border: 2px solid #62a7e4;
    font-size: 24px;
    font-weight: 400;
    color: #00dbf6;
    justify-content: space-between;
  }
  .index-statistics {
    height: 120px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 210px;
      background: #1a2129;
      .top {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
        margin-top: 5px;
      }
      .bottom {
        flex: 1;
        font-family: Bebas Neue Regular;
        .value {
          font-size: 40px;
          font-weight: bold;
          color: #76f1fb;
        }
        .unit {
          font-size: 20px;
          font-weight: 600;
          color: #76f1fb;
          margin-left: 10px;
        }
      }
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 900px;
    .item {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #3b658e;
      .left {
        font-size: 24px;
        font-weight: 500;
        color: #ffffff;
      }
      .right {
          display: flex;
        .value {
          font-size: 24px;
          font-weight: 400;
          color: #ffffff;
          
        }
        .icon{
            margin-left: 10px;
            font-size: 24px;
            font-weight: 400;
            color: #00dbf6;
        }
      }
    }
  }
}
